.container {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  border-radius: 1vh;
  padding: 6%;
  overflow-y: auto;
  font-weight: lighter;
  font-size: 3vh;
  line-height: 8vh;
}

.header {
  font-size: 4vh;
  font-weight: lighter;
}

.tab {
  margin-left: 40px;
}
