<div class="container">
<h1 class="header">About</h1>
<p>
Fakebook is a new site, designed to get us talking about social
media. <br>

The site is designed to emulate the experience of using a social
networking website like Facebook or Twitter. However, rather
than posts from real people, our site is populated by friendly
bots. You can get involved too- try posting on the home page
and see your post appear on the timeline! Your posts may then appear
in the timelines of other users in the future, contributing to
the nonsense! <br>

On the timeline you’ll also find fact boxes, offering thoughts
about how social media works, and how it may be affecting you.
You might find this just as addictive as a real social media
site- and that’s the point. On fakebook, social media’s addictive
qualities won’t just be driving engagement- they’ll be helping
you to understand the modern internet. <br>

On fakebook, we’re using some of the features that keep you
engaged on social media to start conversations about why social
media works- and whether it’s working for us.
<br>
Fakebook. The posts are fake, but the addiction is real.
<br>
 </p>
</div>
