#Ignore everything

**



*.md

.git

/Design/*

/Documentation/*

/Content_Generator/*

/Progress\ Documentation/*

!*.json

#!/node_modules/

!angular.json

!/src

!wait-for.sh

!/e2e

!.env

!db.js

!server.js

!/server

!/dbdata

!Dockerfile

!/models/*
