<div class="home-container">
  <div class="home-header">
    <div class="home-header-content">
      <h1 class="title">FAKEBOOK</h1>
      <h2 class="description">a generative nonsense social media feed</h2>
    </div>
  </div>
  <div class="home-body">
    <div class="leftSideBar">
      <app-leftsidebar></app-leftsidebar>
    </div>
    <div class="middleSection">
      <app-middle-section></app-middle-section>
    </div>
    <div class="trendingBar">
      <app-trendingbar></app-trendingbar>
    </div>
  </div>
</div>
