<div class="newsFeed"
  (scroll)="onScroll()">
  <div class="box" *ngFor="let feedbox of feeds">
    <div *ngIf="feedbox.noOfLikes==''; else elseBlock" class="feed">
        <div class="feed_left">
          <img src="assets/profile_pic.png" alt="little_keanu">
        </div>

        <div class="feed_right">
          <div class="username">
            @FAKEBOOK-FACT
          </div>
          <div class="feed_content">
            {{feedbox.sentence}}
          </div>
        </div>
    </div>

    <ng-template #elseBlock class="feed">
        <div class="feed">
          <div class="feed_left">
            <img src="assets/profile_pic.png" alt="little_keanu">
          </div>

          <div class="feed_right">
            <div class="username">
              @Elon
            </div>
            <div class="feed_content_post">
              <div class="feed_content_text">
                Time to take Tesla private. I will pay $420 a share.
              </div>

              <div class="feed_content_footer">
                <div class="heart-container">
                  <button class="heartButton">
                    <fa-icon [icon]="faHeart" class="heart"></fa-icon>
                  </button>
                  <p class="heart_number">56</p>
                </div>
                <div class="comment-container">
                  <button class="commentButton">
                    <fa-icon [icon]="faComment" class="comment"></fa-icon>
                  </button>
                  <p class="comment_number">128</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </ng-template>
  </div>
</div>
