<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Our Web Project</h1>
<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">Names</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of dataList;">
        <td>{{ i.name }}</td>
    </tr>
    </tbody>
</table>   

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



