<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Fakebook</h1>
<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">Random Sentence:</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of dataList;">
        <td>{{ i.post_text }}</td>
    </tr>
    </tbody>
</table>  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



